<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/hu.css" rel="stylesheet">
  <title>SampleBank</title>
</head>

<body>
  <h1>マイページ</h1>
  <p th:text="${user.userId}"></p>
  <p th:text="${user.Username}"></p>
  <p th:text="${user.Authorities}"></p>

  <h2>口座情報</h2>
  <p>
    Id:
    <span th:text="${bankInfo.Id}"></span>
  </p>
  <p>
    UserId:
    <span th:text="${bankInfo.UserId}"></span>
  </p>
  <p>
    BankNumber:
    <span th:text="${bankInfo.BankNumber}"></span>
  </p>
  <p>
    Amount:
    <span th:text="${bankInfo.Amount}"></span>
  </p>

  <a th:href="@{/tradeHistory}">取引履歴</a>

  <div>
    <h2>取引</h2>
    <form th:action="@{/trade}" method="post">
      <label>
        送金先:
        <input name="targetUserId" type="number">
      </label>
      <label>
        金額:
        <input name="amount" type="number" min="1">
      </label>
      <label>
        備考:
        <input name="description" type="text" minlength="1">
      </label>
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <button type="submit">送金</button>
    </form>
  </div>
</body>

</html>