<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/hu.css" rel="stylesheet">
  <title>SampleBank</title>
</head>

<body>
  <h1>取引履歴</h1>
  <a th:href="@{/mypage}">マイページ</a>

  <p th:text="${user.userId}"></p>
  <p th:text="${user.Username}"></p>
  <p th:text="${user.Authorities}"></p>

  <h2>mypage</h2>
  <table>
    <tr>
      <th>送金先</th>
      <th>送金者</th>
      <th>金額</th>
      <th>備考</th>
    </tr>
    <tr th:each="trade : ${trades}">
      <td th:text="${trade.targetUserId}">送金先</td>
      <td th:text="${trade.sourceUserId}">送金者</td>
      <td th:text="${trade.amount}">金額</td>
      <td th:text="${trade.description}">備考</td>
    </tr>
  </table>
</body>

</html>